//@import "compass/reset-legacy";
@import "partials/imports";
@import "partials/video";
@import "partials/semantic";

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
}

.red {
  color: $red;
}

#container {
  padding: 2rem 0 10rem 0;
}

.container {
  padding: 1rem 0;
}

.da.slogan {
  position: absolute;
  bottom: 4vw;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 5vw;
    margin-bottom: 0;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    font-weight: 300;
    font-size: 2vw;
  }
}

.da.centered {
  width: 100%;
  text-align: center;
}

.segment.block_title_segment {
  margin-bottom: 1rem;
}

.da.ui.block_title {
  text-align: center;
}

.da.ui.header {
}

.head {
  padding: 2rem 0;
  .logo {
    margin-bottom: 1rem;
  }
  h1.da.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    img {
      margin-right: 1rem;
    }
  }
}

.media_one.card {
  border: 1px solid lightgray !important;
  border-bottom: 5px solid lightgray !important;
}

.question.card {
  border: 1px solid lightgray !important;
  //border-bottom: 5px solid lightgray !important;
}

.question.teaser {
  border: 1px solid lightgray !important;
  padding: 2rem;
}

.small {
  font-size: .75rem !important;
}

.ui.segment.footer {
  padding: 2rem 0 4rem 0;
  clear: left;
}

.form.map {
  width: 40%;
  max-width: 400px;
  position: absolute;
  top: 10%;
  background: rgba(255, 255, 255, .8);
  padding: 2rem;
  height: 80%;
  border: 1px lightgray solid;
}

.slideshow {
  height: 40vh !important;
}

.news_slideshow {
  height: 5rem !important;
}

div.ui.right.aligned.category.search.item {
  background: white;
  border: 1px solid $red;
}

.ui.embed {
  i.icon:before {
    color: $red !important;
  }
}

.ui.inverted.red.menu {
  //background-color: $red !important;
}

.tags {
  .tag {
    margin: 0 1rem 1rem 0;
  }
}


h1.page_header{
  margin-bottom: 4rem !important;
}

.ui.menu{
  margin-bottom: 0;
}